<div class="main">
    <div class="mainbox">
        <span class="heading">Login</span>
        <span class="subheading">to get started</span>

        <input class="input-email" type="text" name="email" placeholder="Enter email"/>
        <input class="input-password" type="text" name="password" placeholder="Enter password"/>
        <span class="forgot-Password">Forgot Password?</span>
        <button class="btn-continue">Continue</button>
        <span class="new-user">New User? Register</span>
    </div>
</div>